.carrouseles {
    height: 300px;
    width: 100%;
    padding: 5px;
}
#containers {
    padding-top: 15px;
    background-color: #eeeeee;
}
#img {
height:300px;
width:100%;
padding:4px;
border-radius:5px;

}
.imbb {
    height: 150px;
    width: 100%;
    padding: 4px;
    border-radius: 10px;
}

.ttest {
    font-weight: 900;
}
