@{
    Layout = null;
    var mensaje= TempData["msg"];
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <link href="~/Content/Login/all.css" rel="stylesheet" />
    
    <link href="~/Content/Login/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <img src="~/Content/Img/logo.jpg" id="logoimg" />
                    <div id="contetext">
                       
                        <h4 align="center" id="loginText">LOGIN</h4>

                    </div>
                  

                </div>
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formLogin" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group form-group">

                            <input type="text" name="Usuario" class="form-control" placeholder="username" required>

                        </div>
                        <div class="input-group form-group">
                            <input type="password" name="Clave" class="form-control" placeholder="password" required>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary btn-lg active float-right ">
                        </div>

                    }
                    <a href="/Registro/Index" class="btn btn-info btn-lg"  role="button" aria-pressed="true">Registro</a>
                    <div>
                        <br />
                        <h5 style="color:#ffffff">@mensaje</h5>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</body>
</html>