@{
    Layout = null;
    var mensaje= TempData["msg"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <link href="~/Content/Login/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h2 align="center" id="loginText">POLICOMERCE</h2>
                    <h4 align="center" id="loginText">LOGIN</h4>

                </div>
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formLogin" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group form-group">

                            <input type="text" name="User" class="form-control" placeholder="username" required>

                        </div>
                        <div class="input-group form-group">
                            <input type="password" name="Password" class="form-control" placeholder="password" required>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary btn-lg active float-right ">
                        </div>

                    }
                    <a href="/Login/Registro" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Registro</a>
                    <div>
                        <br />
                        <h5 style="color:#ffffff">@mensaje</h5>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</body>
</html>