@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Registro Usuario</title>
    <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
    <link href="~/Content/Login/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
  
            <div class=" justify-content-center regText" style="padding-top:25px">
                <div class="card-header" >
                    <h1 align="center" >POLICOMERCE</h1>
                    <h2 align="center" >REGISTRO USUARIO</h2>

                </div>
            </div>

            <form>
                <div class="d-flex justify-content-center">

                    <div class="card" style="padding:10px;padding-top:25px">
                       
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="nombre1" placeholder="Primer Nombre" required>
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="nombre2" placeholder="Segundo Nombre">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="apellido1" placeholder="Primer Apellido" required>
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="apellido2" placeholder="Segundo Apellido" required>
                        </div>
                        <div class="input-group form-group">
                            <input type="number" class="form-control" placeholder="Edad" required>
                        </div>
                        <div class="input-group form-group">
                            <select class="form-control" required>
                                <option>Genero</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>

                            </select>

                        </div>

                    </div>
                    <div class="card" style="padding:10px;padding-top:25px">
                        <div class="input-group form-group">
                            <input type="tel" class="form-control" id="telefono" placeholder="Telefono" required>
                        </div>
                        <div class="input-group form-group">
                            <select class="form-control" required>
                                <option>Departamento</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>

                            </select>

                        </div>
                        <div class="input-group form-group">
                            <select class="form-control" required>
                                <option>Municipio</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>

                            </select>

                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="direccion" placeholder="Direccion">
                        </div>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="usuario" placeholder="Usuario" required>
                        </div>
                        <div class="input-group form-group">
                            <input type="password" class="form-control" id="pass1" placeholder="Password" required>
                        </div>
                   

                    </div>

                    <div class="card" style="padding:10px;padding-top:25px">
                        <div class="input-group form-group">
                            <input type="password" class="form-control" id="pass1" placeholder="Repita Password" required>
                        </div>
                        <div class="input-group form-group">
                            <input type="email" class="form-control" id="pass1" placeholder="Email" required>
                        </div>
                        <label style="color:white">Imagen</label>
                        <div class="input-group form-group">

                            <input type="file" class="form-control" id="pass1" placeholder="Imagen">
                        </div>
                        <div class="card-body">

                            <div class="form-group">

                                <input type="submit" value="Registro" class="btn btn-primary btn-lg active float-right ">
                                <a href="/Login/Index" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Cancelar</a>
                            </div>


                        </div>
                    </div>
                </div>

            </form>
       
    </div>
</body>
</html>