@using Dto.Dto.Login;
@{
    ViewBag.Title = "Home";
    var usuario = Session["User"] as LoginDto;
}
<script src="~/Scripts/Carrousel/jquery.min.js"></script>
<script src="~/Scripts/Carrousel/bootstrap.min.js"></script>
<link href="~/Content/Menu/Carrousel.css" rel="stylesheet" />

<div class="row" id="containers">
    <div id="myCarousel" class="carousel slide carrouseles" style="width:100%" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner ">
            <div class="item active">

                <img src="~/Content/Img/logo.jpg" id="img" />
            </div>
            <div class="item">

                <img src="~/Content/Img/banner1.jpg" id="img" />
            </div>
            <div class="item">

                <img src="~/Content/Img/banner2.jpg" id="img" />
            </div>
            <div class="item">

                <img src="~/Content/Img/banner3.jpg" id="img" />
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div style="padding:10px">

        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Quienes Somos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-ofrec" role="tab" aria-controls="pills-ofrec" aria-selected="false">Que Ofrecemos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contactanos</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent" style="padding-top:10px">
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div style="padding:10px;width:300px;height:800px;background-color:coral;float:left">
                <div style="width:100%; height:40% ; text-align:center;padding-top:20px">
                    <img src="~/Content/Img/camisa_1.png" alt="..." height="160" width="140">
                </div>

                    <h5>

                    </h5>

                </div>

                <div style="width:840px;height:250px;background-color:darkseagreen;float:right">
                    <h1 style="font-family:'Agency FB';font-size:100px;text-align:right;color:white;padding-right:20px">Productos de Sublimacion y Serigrafiado</h1>

                </div>

                <div style="width:840px;height:550px;background-color:yellow;float:right">

                </div>
            </div>


            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div style="padding:10px;width:300px;height:800px;background-color:yellow;float:left">

                </div>

                <div style="width:840px;height:250px;background-color:coral;float:right">
                    <h1 style="font-family:'Agency FB';font-size:100px;text-align:right;color:white;padding-right:20px">Nuestro Objetivo</h1>
                    <h1 style="font-family:'Agency FB';font-size:25px;text-align:justify;color:white;padding-bottom:20px;padding-left:20px;padding-right:20px">Como empresa, nuestro principal compromiso es ser una de las empresas de serigrafiado y sublimacion mas reconocidos del territorio nacional y expandernos para brindar la mejor calidad de productos.</h1>

                </div>

                <div style="width:840px;height:550px;background-color:darkseagreen;float:right">

                </div>

            </div>

            <div class="tab-pane fade" id="pills-ofrec" role="tabpanel" aria-labelledby="pills-profile-tab">

                <div style="padding:10px;width:300px;height:800px;background-color:darkseagreen;float:left">

                </div>

                <div style="width:840px;height:250px;background-color:yellow;float:right">
                    <h1 style="font-family:'Agency FB';font-size:100px;text-align:right;color:black;padding-right:20px">Nuestros Productos</h1>

                </div>

                <div style="width:840px;height:550px;background-color:coral;float:right">

                </div>

            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                <div style="padding:10px;width:300px;height:800px;background-color:coral;float:left">

                </div>

                <div style="width:840px;height:250px;background-color:darkseagreen;float:right">
                    <h1 style="font-family:'Agency FB';font-size:100px;text-align:right;color:white;padding-right:20px">Como Encontrarnos</h1>
                    <h1 style="font-family:'Agency FB';font-size:70px;text-align:right;color:white;padding-right:20px">Llamanos al: 2222-2222</h1>

                </div>

                <div style="width:840px;height:550px;background-color:yellow;float:right">

                </div>

            </div>
        </div>
    </div>





    <script src="~/Scripts/Carrousel/Carrousel.js"></script>

</div>