@{
    ViewBag.Title = "Productos";
}

<script src="~/Scripts/Tables/jquery-3.3.1.js"></script>

<link href="~/Content/Table/Estilo.css" rel="stylesheet" />

<div class="jumbotron">

    <div class="producto">
        <div class="row center-xs">
            @foreach (var produc in ViewBag.Productos)
            {
                <div class="col-xs-10 col-sm-6 col-md-4 product" style="">
                    <div class="card">
                        <div class="col-xs-10 col-sm-6 col-md-4 product" style="">
                            <div class="card">
                                <img src="data:image/png;base64,@produc.Imagen"  width="200" height="200"/>
                               
                                <input type="text" id="name" name="name" value="aasas" readonly disabled hidden />
                                <input type="text" id="categoria" name="name" value="aasas" readonly disabled hidden />
                                <input type="text" id="descripcion" name="descripcion" value="aasas" readonly disabled hidden />
                                <input type="text" id="precio" name="precio" value="aasas" readonly disabled hidden />
                                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                                    Launch demo modal
                                </button>
                            </div>
                            <br />
                        </div>
                        <img src="~/Content/Img/Banner.jpg" />
                        <input type="text" id="name" name="name" value="aasas" readonly disabled hidden />
                        <input type="text" id="categoria" name="name" value="aasas" readonly disabled hidden />
                        <input type="text" id="descripcion" name="descripcion" value="aasas" readonly disabled hidden />
                        <input type="text" id="precio" name="precio" value="aasas" readonly disabled hidden />
                        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                            Launch demo modal
                        </button>
                    </div>
                    <br />
                </div>

            }

            <div class="col-xs-10 col-sm-6 col-md-4 product" style="">
                <div class="card">
                    <img src="~/Content/Img/Banner.jpg" />
                    <input type="text" id="name" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="categoria" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="descripcion" name="descripcion" value="aasas" readonly disabled hidden />
                    <input type="text" id="precio" name="precio" value="aasas" readonly disabled hidden />
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                        Launch demo modal
                    </button>
                </div>
                <br />
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 product" style="">
                <div class="card">
                    <img src="~/Content/Img/Banner.jpg" />
                    <input type="text" id="name" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="categoria" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="descripcion" name="descripcion" value="aasas" readonly disabled hidden />
                    <input type="text" id="precio" name="precio" value="aasas" readonly disabled hidden />
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                        Launch demo modal
                    </button>
                </div>
                <br />
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 product" style="">
                <div class="card">
                    <img src="~/Content/Img/Banner.jpg" />
                    <input type="text" id="name" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="categoria" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="descripcion" name="descripcion" value="aasas" readonly disabled hidden />
                    <input type="text" id="precio" name="precio" value="aasas" readonly disabled hidden />
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                        Launch demo modal
                    </button>
                </div>
                <br />
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 product" style="">
                <div class="card">
                    <img src="~/Content/Img/Banner.jpg" />
                    <input type="text" id="name" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="categoria" name="name" value="aasas" readonly disabled hidden />
                    <input type="text" id="descripcion" name="descripcion" value="aasas" readonly disabled hidden />
                    <input type="text" id="precio" name="precio" value="aasas" readonly disabled hidden />
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                        Launch demo modal
                    </button>
                </div>
                <br />
            </div>


        </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">DESCRIPCION DEL PRODUCTO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
              
                    <label>NOMBRE</label>
                  <br />
                    <label>NOMBRE</label>
                  <br />
                    <label>NOMBRE</label>
                    <br />
                    <label id="w3mission" rows="2" cols="40">
                        At w3schools.com you will learn how to make a
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
 
</div>
<script src="~/Scripts/Tables/DataTable.js"></script>

