@using Dto.Dto.Login;
@{
    ViewBag.Title = "Productos";
    var usuario = Session["User"] as LoginDto;
}
<script src="~/Scripts/Tables/jquery-3.3.1.js"></script>
<script src="~/Scripts/Tables/jquery.dataTables.min.js"></script>
<link href="~/Content/Table/Estilo.css" rel="stylesheet" />
<link href="~/Content/Table/jquery.dataTables.min.css" rel="stylesheet" />
<div class="row rowest" id="row">
    <div class="ttctg">
        <img src="~/Content/Img/bannerservicios.jpg" class="BBPP" />
        <h3 class="txtes">CATALOGOS DE SERVICIOS</h3>
    </div>

    <div>
        <table id="productotb" border="0" class="display">
            <thead>
                <tr>
                    <th class="contetable" >CODIGO</th>
                    <th class="contetable">NOMBRE</th>
                    <th class="contetable">DESCRIPCION</th>
                    <th class="contetable" hidden>PRECIO</th>
                    <th class="contetable">IMAGEN</th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var produc in ViewBag.Servicios)
                {
                    <tr>
                        <td class="detatable" >@produc.Codigo</td>
                        <td class="detatable">@produc.Nombre</td>
                        <td class="detatable">@produc.Descripcion</td>
                        <td class="detatable" hidden >@produc.Precio</td>
                        <td>
                            <div class="col-xs-10 col-sm-6 col-md-4 product" style="padding:10px">
                                <div class="card">
                                    <img src="data:image/png;base64,@produc.Imagen" />
                                </div>
                            </div>
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<script src="~/Scripts/Tables/DataTable.js"></script>
